@model AlberletKereso.Models.Alberlet

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    ViewBag.Title = "Kép hozzáadása";
}

<h1>
    @ViewBag.Title
</h1>

@using (Html.BeginForm("KepHozzaadas", "SajatAlberletek", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" accept="image/*"  pattern=".\.(jpeg||png)$"/>
    <p>Ajánlott kép felbontás 640x480</p>
    <input type="submit" name="Submit" id="Submit" value="Kép feltöltése" />
}
