@model IEnumerable<AlberletKereso.Models.Kep>

@{
    ViewBag.Title = "Képek az albérletről";
}

<h2>Képek az albérletről</h2>

@foreach (var item in Model)
{

    <tr>
        <td>
            <img src="~/Uploads/@item.FileName"/>
 
        </td>
    </tr>
}
