@{
    ViewBag.Title = "Főoldal";
}

<div class="jumbotron">
    <h1>Albérletkereső</h1>
    <p class="lead">Itt kereshetsz albérletet!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hogyan keressek albérletet?</h2>
        <p>
            Albérletet az "Albérletek" fül alatt kereshetsz.
            Itt megadhatod a keresési feltételeket, amelyek alapján kiszűrjük a számodra releváns albérleteket.
        </p>
        <p><a class="btn btn-default" href="~/Alberlets">Albérletek keresése &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hogyan adjak fel hírdetést?</h2>
        <p>
            Ahhoz, hogy új hírdetést adhass fel, először be kell jelentkezned.
            Ha még nincs felhasználói fiókod, könnyedén készíthetsz egy újat.
            Ha már van felhasználói fiókod, csak kattints a "Saját albérletek" fülre, és ott az új albérlet felvétele linkre.
        </p>
        <p><a class="btn btn-default" href="~/Account/Login">Bejelentkezés &raquo;</a></p>
    </div>
</div>