@{
    ViewBag.Title = "Főoldal";
}

<div class="no-padding">
 <img class="header-img" src="~/Kepek/bppan.jpg"/>
</div>

<div class="row extra-padding">
    <div class="col-md-4">
        <h2>Hogyan keressek albérletet?</h2>
        <p>
            Albérletet az "Albérletek" fül alatt kereshetsz.
            Itt megadhatod a keresési feltételeket, amelyek alapján kiszűrjük a számodra releváns albérleteket.
        </p>
        <p><a class="btn btn-default" href="~/Alberlets">Albérletek keresése &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hogyan adjak fel hírdetést?</h2>
        <p>
            Ahhoz, hogy új hírdetést adhass fel, először be kell jelentkezned.
            Ha még nincs felhasználói fiókod, könnyedén készíthetsz egy újat.
            Ha már van felhasználói fiókod, csak kattints a "Saját albérletek" fülre, és ott az új albérlet felvétele linkre.
        </p>
        <p><a class="btn btn-default" href="~/Account/Login">Bejelentkezés &raquo;</a></p>
    </div>
</div>
<hr class="hr-style" />
<div class="row">
    <h1 class="header-form">Találd meg te is a neked megfelelő albérletet!</h1>
</div>